@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    .content-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
    }
</style>

<div class="main-wrapper">
    <div class="container-fluid position-ralative vh-100">
        <div class="row content-center">
            @*<div class="col-md-6 col-lg-6 col-xl-5">*@
            <div class="logo-section">
                <img src="~/images/display-dashboard.jpeg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-4 mx-auto">
                <div class="logo-section">
                    <img src="~/images/new1.jpg" alt="Sample image">
                </div>
                <div style="text-align: center; font-weight: bold; color: blue;">
                    <label class="form-label">Design & Developed By :-Om Sai Infotech</label>
                </div>
                @*<div style="text-align: center; font-weight: bold; color: blue;">
            <label class="form-label">Address:-Sarikhurad,Amalsad,Navsari Mo:-9924903179</label>
        </div>*@

                @*<form action="/Home/verify" method="post">*@


                @*<div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="text" id="txtuserid" name="Username" class="form-control form-control-lg"
                   placeholder="Enter User Name" />

        </div>

        <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="txtpass" name="Password" class="form-control form-control-lg"
                   placeholder="Enter password" />

        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="true" id="chkRemember" />
                <label class="form-check-label" for="form2Example3">
                    Remember me
                </label>
            </div>
        </div>*@

                <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-center gap-3">
                    <button type="button" id="btnsave" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        ખાતર
                    </button>
                    <button type="button" id="btnsaveb" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        ભંડાર
                    </button>
                </div>
                <button type="button" id="btnsavebs" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    તમારા પ્રસંગો નું ખરીદી નું લીસ્ટ અમને મોકલવા માટે
                </button>
                <div style="text-align: center; font-weight: normal; color: blue;">
                    <label class="form-label">
                        પ્રિય ગ્રહક્મીત્રો,
                        આપણી સંસ્થા ના સભાસદ મિત્રો અને સંસ્થા સાથે હરહંમેશ જોડાયેલા એવા ગ્રહક્મીત્રો અને આજુબાજુના ગામના ગ્રહક્મીત્રો માટે શ્રી કડોદ વિભાગ ફળ અને શાકભાજી ઉત્પાદકોની તથા વેચાણ કરનારી સહકારી મંડળી નુ નવું સાહસ  “KSM ONLINE ORDER APPLICATION AND WEBSITE” જે માં દરેક ગ્રાહક પોતાની જરૂરીયાત મુજબ ઓર્ડર લખીને મોકલી શકે છે.જે વસ્તુ અમો આપ સુધી શક્ય ઝડપે પહોચાડવાનો પ્રયત્ન કરીશું.
                        ગ્રાહકનો સમય બચી શકે અને ઘર બેઠા સામાનની ડીલીવરી પણ મળી રહે એવા હેતુ ને આપના સહકારની જરૂર હોય આપ અમારી આ સુવિધાનો શક્ય તેટલો વધુ લાભ લો.
                        કડોદ શાકભાજી મંડળી પરીવાર
                    </label>
                </div>
                @*</form>*@
            </div>
        </div>
    </div>
    @*<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between align-items-center py-4 px-4 px-xl-5 bg-primary">
            <div class="text-white mb-3 mb-md-0">
                <ul class="list-box">
                    <li class="list-item">
                        Copyright © 2020-2024. All rights reserved.
                    </li>
                </ul>
            </div>
        </div>*@


</div>
<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="~/plugins/toastr/toastr.min.js"></script>
<script src="~/Scripts/Login/Login.js"></script>
